<%= link_to post do %>
  <div id="<%= dom_id post %>">
    <% if post.video.attached? && post.video.previewable? %>
  <%= image_tag post.video.preview(resize_to_limit: [500, 500]).processed.url %>
<% end %>

    <p class="my-2 font-bold text-2xl">
        <%= post.title %>
    </p>

    <p class="my-2">
      posted by <%= post.user.email %>
    </p>

    <p class="my-2">
      views <%= post.views_count %>
    <% </p>
<% end %>

    <p class="my-2">
      likes <%= post.likes.count %> %>
          </p>
  </div>
<% end %>
