<div id="<%= dom_id post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Video:</strong>
    <%= link_to post.video.filename, post.video if post.video.attached? %>
  </p>

  <%= image_tag post.video.preview(resize_to_limit: [100, 100]).processed.url %>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= post.description %>
  </p>

  <p class="my-5">
    posted by <%= post.user.email %>
  </p>

</div>
